.page{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.new-bug{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.new-bug input::placeholder, .textarea::placeholder{
font-size: 10px;
}
.report-box{
    width: 60%;
    padding: 15px 20px;
    margin-right: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.report-box p{
    text-align: right;
}
.report-box button{
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  background-color: #2563EB;
  border: 1px solid #2563EB;
}
.resolution-progress{
    width: 30%;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.bug-level{
 margin-right: 20px;
}
.bug-level, .bug-category{
 align-items: center;
}
.checkbox{
    display: flex;
    align-items: center;
}
.checkbox label{
    margin-right: 10px;
}
.textarea{
    width:95%;
    height: 40px;
    outline: none;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #959595;
}
.log{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    flex-direction: column;
    border: 1px solid #959595;
    justify-content: space-between;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.log h4{
    margin: 0%;
}
.log span, .log p{
    font-size: 12px;
    color: #959595;
}