.box-updates{
  display: flex;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content:center;
  width:250px ;
  max-width:200px ;
  padding: 15px;
  background-color: white;
  margin-right: 20px;
  border-radius: 5px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.yellow{
  color: #FFBC10;
}
.graph{
  margin-top: 25px;
  text-align: center;
  color: #FFBC10;
}
.updates{
  margin-top: 25px;  
  width: 100%;
}

th{
  background-color: #94bbe6;
  color: #fff;
  font-size: 13px;
}
td,th{
  padding: 6px 5px;
  font-size: 14px;
}
table{
  width: 100%;
  width: 95%;
  font-size: 14px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.123);
  background-color: #fff;
  overflow: hidden;
  border-collapse: collapse;
  text-align: left;
}
.points{
  color: #00ac4d;
  font-weight: bolder;
  font-size: 20px;
}
.btn-primary{
  background-color:var(--primary-color) ;
  color: white;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
.btn-primary:hover{
  background-color: var(--primary-color-hover);
  color: white;
}
.lab{
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color-hover);
  border-radius: 24px;
  padding: 24px;
  margin-top: 24px;
}
.col-1{
  width: 98%;
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
.right{
  display: flex;
  width: 20%;
  justify-content: space-between;
}
.tags span{
  background-color: #00ac4d;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  margin: 6px;
}
.col-flex-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col-flex-row div:first-child{
  background-color: #F0F9FF;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #93B4FD;
  border-left: 4px solid var(--primary-color);
}
.col-flex-row div:nth-child(2){
  background-color: #FEF2F2;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #93B4FD;
  border-left: 4px solid var(--primary-error-color);
  margin-left: 12px;
}
.col-flex-row div:nth-child(3){
  background-color: #F0F9FF;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid #93B4FD;
  border-left: 4px solid var(--completed);
  margin-left: 12px;
}